<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315945306524-5d4g4bh3ici35fpahavuv1kg0h0lbq5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315945306524-5d4g4bh3ici35fpahavuv1kg0h0lbq5a</string>
	<key>API_KEY</key>
	<string>AIzaSyDquFIjd1Aths3LZCB26P4CwHTH7x0eF9g</string>
	<key>GCM_SENDER_ID</key>
	<string>315945306524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quarang.TwiterClone-EX</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-22a7a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-22a7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315945306524:ios:56db715d2dddafe6876059</string>
</dict>
</plist>